<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.amlun.workflows.geocoding</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>6306C826-633D-4794-992B-557DEEC27B4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCEC8C17-4D4A-4668-BA45-8E3D96774807</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>amlun</string>
	<key>description</key>
	<string>Latitude/Longitude Lookup</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Geocoding</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://maps.google.com/maps?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DCEC8C17-4D4A-4668-BA45-8E3D96774807</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>geo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>input the gps info</string>
				<key>script</key>
				<string>php -f search.php "{query}"</string>
				<key>subtext</key>
				<string>Geocoding</string>
				<key>title</key>
				<string>Geocoding</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6306C826-633D-4794-992B-557DEEC27B4A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Geocoding is the process of converting addresses (like "1600 Amphitheatre Parkway, Mountain View, CA") into geographic coordinates (like latitude 37.423021 and longitude -122.083739), which you can use to place markers on a map, or position the map.</string>
	<key>uidata</key>
	<dict>
		<key>6306C826-633D-4794-992B-557DEEC27B4A</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DCEC8C17-4D4A-4668-BA45-8E3D96774807</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.amlun.com</string>
</dict>
</plist>
